#about-us {
    overflow-x: hidden;
}

#about-bg {
    background-image: url('../public/about-bg1.png');
    background-position: center;
    background-size: cover;
    height: 60vh;
    background-repeat: no-repeat;
    max-width: 100%;
    color: white;
}

.title-about h1 {
    font-size: 86px;
    padding-top: 10rem;
    font-family: 'Silkscreen';
    font-weight: bold;
}

.title-about span {
    color: #e50afe;
}

#about-detail {
    background-size: cover;
    min-height: 115vh;
    max-width: 100%;
    color: white;
    background-color: #120a21;
}

.describe-gm {
    padding-top: 4rem;
}
.describe-gm h1 {
    font-size: 42px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}
.describe-gm span {
    color: #e50afe;
}
.describe-gm p {
    font-size: 16px;
    width: 800px;
    display: inline-flex;
    letter-spacing: 0.2px;
    font-weight: 200;
}

#accordian-about .card-header {
    background-color: #6105fe;
    display: inline-flex;
    justify-content: space-between;
    cursor: pointer;
}

#accordian-about .card {
    width: 55rem;
    margin-top: 1.5rem;
    margin-left: 11rem;
    border: 0;
}

#accordian-about .card .mb-0 {
    font-family: 'Silkscreen';
    font-size: 24px;
}

#accordian-about .collapse {
    background-color: #f1bcf7;
    color: black;
    letter-spacing: 0.1px;
}

#accordian-about .opacity-8 a {
    text-decoration: none;
    color: #6105fe;
}

#our-team {
    background-color: #1c0d2a;
    min-height: 60vh;
}
#our-team h1 {
    padding-top: 2rem;
    color: white;
    font-family: 'Silkscreen';
    font-size: 46px;
}

#our-team span {
    color: #e50afe;
}

#our-team .card-three {
    display: inline-flex;
    justify-content: center;
    flex-wrap: nowrap;
    margin: 0rem;
    margin-bottom: 5rem;
    color: white;
}
