/* CARD 1 */
.img-card1 {
    width: 30px;
    height: 30px;
    padding: 5px 5px;
    border-radius: 5px;
}
.box-card1 .img-card1 {
    background-color: #784cff;
}
.title-card1 {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1rem;
}
.details1 {
    font-size: 11px;
    font-weight: 100;
    width: 250px;
    letter-spacing: 1px;
    color:aliceblue;
}
.box-card2 .img-card1 {
    background-color: #f84dff;
}
.box-card3 .img-card1 {
    background-color: #a74fff ;
}
.wrap-card1{
    width: 300px;
    background-color: #14074b;
    padding: 1.5rem 1.5rem;
    height: 170px;
    border-radius: 13px;
    margin-right: 2rem;
    margin-top: 2rem;
}
.wrap-card1:hover {
    box-shadow: 3px 3px 10px ;
}

@media screen and (min-width: 320px) {
    .title-card1 {
        font-size: 14px;
    }
    .details1 {
        font-size: 9px;
    }
    .wrap-card1{
        width: 250px;
        padding: 1rem 1rem;
        height: 130px;
        border-radius: 13px;
        margin-right: 2rem;
        margin-top: 0.2rem;
    }
    .wrap-card1 p {
        width: 230px;
    }
}

@media screen and (min-width: 375px) {
    .wrap-card1{
        margin-top: 0.5rem;
    }
}

@media screen and (min-width: 768px) {
    .wrap-card1{
        margin-top: 1rem;
        width: 270px;
    }
}

@media screen and (min-width: 1020px) {
    .img-card1 {
        width: 30px;
        height: 30px;
        padding: 5px 5px;
        border-radius: 5px;
    }
    .title-card1 {
        font-size: 18px;
        margin-top: 1rem;
    }
    .details1 {
        font-size: 11px;
        width: 250px;
    }
    .wrap-card1{
        width: 300px;
        padding: 1.5rem 1.5rem;
        height: 170px;
        border-radius: 13px;
        margin-right: 2rem;
        margin-top: 2rem;
    }
}

@media screen and (min-width: 1440px) {
    .wrap-card1{
        width: 300px;
        padding: 2rem 3rem;
        height: 200px;
        margin-top: 4rem;
    }
    .title-card1 {
        font-size: 24px;
        margin-top: 1rem;
    }
    .details1 {
        font-size: 13px;
        width: 250px;
    }
}

/* CARD 2 */
.wrap-card2{
    width: 170px;
    background-color: #14074b;
    height: 18vh;
    border-radius: 13px;
    margin-right: 2rem;
    margin-top: 2rem;
    padding: 1rem 1rem;
}
.wrap-card2:hover {
    box-shadow: 3px 3px 5px ;
}
.title-card2 {
    text-align: center;
    font-size: 38px;
    color: #f84dff;
    font-weight: bold;
}
.details2 {
    font-size: 12px;
    text-align: center;
    letter-spacing: 0.05rem;
}

@media screen and (min-width: 320px) {
    .wrap-card2{
        width: 130px;
        height: 14vh;
        margin-top: 0.5rem;
        padding: 0.5rem 0.5rem;
    }
    .title-card2 {
        font-size: 26px;
    }
    .details2 {
        font-size: 10px;
    }
}

@media screen and (min-width: 375px) {
    .wrap-card2{
        width: 130px;
        height: 15vh;
        margin-top: 2rem;
        padding: 0.5rem 0.5rem;
    }
}

@media screen and (min-width: 768px) {
    .wrap-card2{
        width: 170px;
        height: 18vh;
        padding: 1rem 1rem;
    }
    .title-card2 {
        font-size: 38px;
    }
    .details2 {
        font-size: 12px;
    }
}

@media screen and (min-width: 1440px) {
    .wrap-card2{
        width: 240px;
        height: 18vh;
        padding: 3rem 3rem;
    }
}

/* CARD 3 */
.img-card3 {
    width: 180px;
    height: 160px;
    border-radius: 15px;
    border: 1px solid #f84dff;
}
.title-card3 {
    font-size: 16px;
    font-family: 'Silkscreen';
    margin-top: 1rem;
}
.details3 {
    font-size: 10px;
    font-weight: 100;
    width: 180px;
    letter-spacing: 1px;
    color:white;
    margin-left: 1rem;
}
.wrap-card3{
    width: 200px;
    background-color: #14074b;
    padding: 0.5rem 0rem;
    height: 260px;
    border-radius: 15px;
    margin-right: 2rem;
    margin-top: 2rem;
    text-align: center;
}

@media screen and (min-width: 320px) {
    .img-card3 {
        width: 120px;
        height: 120px;
    }
    .title-card3 {
        font-size: 12px;
    }
    .details3 {
        font-size: 12px;
        font-weight: 100;
        width: 220px;
        letter-spacing: 1px;
        color:white;
        margin-left: 1rem;
    }
    .wrap-card3{
        width:180px;
        height: 220px;
        margin-left: 2rem;
    }
    .details3 {
        font-size: 12px;
        width: 160px;
        margin-left: 0.5rem;
    }
    #section6 .card-three {
        display: inline-grid;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0rem;
        margin-bottom: 1rem;
        margin-top: -1rem;
    }
}

@media screen and (min-width: 768px) {
    #section6 .card-three {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0rem;
        margin-bottom: 1rem;
        margin-top: -1rem;
    }
    .img-card3 {
        width: 120px;
        height: 120px;
    }
    .title-card3 {
        font-size: 12px;
    }
    .details3 {
        font-size: 12px;
        font-weight: 100;
        width: 220px;
        letter-spacing: 1px;
        color:white;
        margin-left: 1rem;
    }
    .wrap-card3{
        width:180px;
        height: 220px;
        margin-left: 2rem;
    }
    .details3 {
        font-size: 12px;
        width: 160px;
        margin-left: 0.5rem;
    }
}

@media screen and (min-width: 1024px) {
    .img-card3 {
        width: 180px;
        height: 160px;
    }
    .title-card3 {
        font-size: 16px;
    }
    .details3 {
        font-size: 10px;
        font-weight: 100;
        width: 180px;
        margin-left: 1rem;
    }
    .wrap-card3{
        width: 200px;
        height: 260px;
    }
}







