/* CAROUSEL 1 */
@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";

.carousel-one {
    margin-top: 2rem;
}
#carousel1 .slider{
    width: 100%;
    height: 200px;
  } 
  #carousel1  .slide, .slide img{
    width: 100%; 
    height: 200px;
    border-radius: 15px;
  }
  #carousel1 .slide{
    /* opacity: .5; */
    transform: scale(.7);
    transition: .5s;
    filter: blur(5px);
  }
  
  #carousel1 .slide-active{
    filter: blur(0);
    opacity: 1;
    transform: scale(0.9);
    border: 1px solid #6105fe;
    box-shadow: 6px 6px 20px #6105fe;
    cursor: pointer;
  }
  #carousel1 .arrow{
    font-size: 20px;
    padding: 5px 15px;
    border-radius: 10px;
    box-shadow: 0 0 3px;
    display: flex;
    width: 40px;
    position: absolute;
    top: 200px;
    z-index: 100;
    cursor: pointer;
  }
  #carousel1 .arrow-right{
    right: 20px;
    margin-top: -6rem;
  }
  #carousel1 .arrow-left{
    left: 20px;
    margin-top: -6rem;
  }
  #carousel1 .dot{
    margin-top: 2rem;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    box-shadow: 0 0 5px  #ccc;
  }
  #carousel1 .dot-active{
    background: white;
    box-shadow: 0 0 15px;
  }

  @media screen and (min-width: 320px) {
    #carousel1 .slide, .slide img{
        height: 250px;
    }

    #carousel1 .slider{
        width: 100%;
        height: 250px;
    } 
  }

  @media screen and (min-width: 1024px) {
    #carousel1 .slide, .slide img{
        height: 250px;
    }

    #carousel1 .slider{
        width: 100%;
        height: 250px;
    } 
  }