#footer .text-left img {
    width: 25px;
    height: 25px;
    padding: 5px 5px;
    border-radius: 30px;
    margin-right: 0.8rem;
    background-color: white;
}
#footer .text-left img:hover {
    transform: scale(1.5);
}
#footer .row {
    display: flex;
    flex-wrap: nowrap;
}
#footer .text-left {
    display: flex;
    flex-wrap: nowrap;
    width: 300px;
    margin-left: 13rem;
    margin-top: 1rem;
}
#footer .row .follow {
    width: 100px;
}
#footer {
    background-color: #040532;
    background-size: cover;
    height: 25vh;
    background-repeat: no-repeat;
    max-width: 100%;
    color: white;
    margin-top: -1rem;
}
#footer .col-md-10 hr {
    color: #6105fe;
    opacity: 130%;
    margin-left: 12rem;
}
#footer .text-right img {
    width: 35px;
    height: 35px;
    padding: 5px 5px;
    border-radius: 30px;
    margin-right: 0.8rem;
    background-color: white;
}
#footer .text-right {
    display: flex;
    flex-wrap: nowrap;
    width: 500px;
    margin-top: 0.5rem;
}
#footer .text-right p {
    font-size: arial;
    font-size: 14px;
    margin-right: 2rem;
    margin-top: 0.3rem;
    opacity: 80%;
}
#footer .text-left p {
    font-size: arial;
    font-size: 14px;
    opacity: 80%;
    color: #e50afe;
}
#footer .bottom {
    margin-top: 1.7rem;
    font-size: 11px;
    opacity: 50%;
    margin-left: 15rem;
}

@media screen and (min-width: 320px) {
    #footer .col-md-10 hr {
        margin-left: 0rem;
    }
    #footer .text-right p {
        font-size: 10px;
        margin-right: 0rem;
        margin-top: 0.3rem;
    }
    #footer .text-right {
        margin-left: 0.5rem;
    }
    #footer .text-left p {
        font-size: 10px;
        opacity: 80%;
    }
    #footer .text-left {
        margin-left: 2rem;
        margin-top: 0rem;
    }
    #footer .row {
        display: flex;
        flex-wrap: wrap;
    }
    #footer {
        height: 30vh;
    }
    #footer .bottom {
        margin-top: 0.5rem;
        font-size: 11px;
        opacity: 50%;
        margin-left: 1rem;
    }
}

@media screen and (min-width: 375px) {
    #footer .text-right p {
        margin-right: 1rem;
    }
    #footer .text-right {
        margin-left: 1rem;
    }
    #footer .text-left {
        margin-left: 4rem;
    }
}
@media screen and (min-width: 375px) {
    #footer .text-right p {
        margin-right: 2rem;
    }
    #footer .text-right {
        margin-left: 2rem;
    }
    #footer .text-left {
        margin-left: 6rem;
    }
}
@media screen and (min-width: 768px) {
    #footer .row {
        display: flex;
        flex-wrap: nowrap;
    }
    #footer {
        height: 25vh;
    }
    #footer .col-md-10 hr {
        color: #6105fe;
        opacity: 130%;
        margin-left: 7rem;
    }
    #footer .text-right p {
        margin-right: 1rem;
    }
    #footer .text-right {
        margin-left: -3rem;
    }
    #footer .text-left {
        margin-left: 4rem;
        margin-top: 0.7rem;
    }
    #footer .bottom {
        margin-left: 10rem;
    }
}
@media screen and (min-width: 1024px) {
    #footer .text-left {
        display: flex;
        flex-wrap: nowrap;
        width: 300px;
        margin-left: 11rem;
        margin-top: 1rem;
    }
    #footer .col-md-10 hr {
        margin-left: 12rem;
    }
    #footer .text-right {
        margin-top: 0.5rem;
    }
    #footer .text-right p {
        font-size: 14px;
        margin-right: 2rem;
        margin-top: 0.3rem;
    }
    #footer .text-left p {
        font-size: 14px;
    }
    #footer .bottom {
        margin-top: 1.7rem;
        font-size: 11px;
        opacity: 50%;
        margin-left: 15rem;
    }
}

@media screen and (min-width: 1200px) {
    #footer .text-left {
        margin-left: 14rem;
    }
    #footer .col-md-10 hr {
        margin-left: 13rem;
    }
    #footer .text-right {
        margin-top: 0.5rem;
        margin-left: 5rem;
    }
}


@media screen and (min-width: 1440px) {
    #footer .text-right {
        margin-top: 0.5rem;
        margin-left: 18rem;
    }
    #footer .text-left {
        margin-left: 15rem;
    }
    #footer .bottom {
        margin-top: 3rem;
    }
}
