.main-games{
    text-align: center;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
#games-pg .slideIndex{
  padding-left: 20px;
}

#games-pg .clicked{
  border: 4px solid yellow;
}

#games-pg .title-game {
    text-align: start;
    padding-top: 5rem;
    padding-left: 9rem;
    color: white;
}

#games-pg .title-game p {
    width: 450px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    letter-spacing: 0.5px;
    color: white;
    margin-top: 1rem;
}

#games-pg .title-game h1 {
    font-family: 'Silkscreen';
    font-size: 54px;
    color: white ;
}

#games-pg .title-game button {
    color: white;
    background-image: linear-gradient(to right, #6105fe, #e50afe);
    border: 0;
    border-radius: 17px;
    width: 8rem;
    height: 2.2rem;
    font-size: 12px;
    margin-right: 0rem;
    cursor: pointer;
    margin-top: 0.5rem;
    padding: 0rem 0rem;
}

#games-pg .title-game button:hover {
    color: #6105fe;
    background-image: linear-gradient(to right,white, white);
    transform: scale(1.2);
}

#games-pg .slide img {
    height: 130px;
    width: 200px;
    text-align: center;
    display: inline;
}

#games-pg .slick-slide {
    height: 130px;
    width: 100%;
    text-align: center;
    display: inline;
}

#games-pg .slide-active {
    width: 100%;
    border: none;
}

#games-pg .slide {
    height: 130px;
    width: 100%;
}

#games-pg .arrow{
    font-size: 20px;
    padding: 5px 15px;
    border-radius: 10px;
    box-shadow: 0 0 3px;
    display: flex;
    width: 40px;
    position: absolute;
    top: 200px;
    z-index: 100;
    cursor: pointer;
  }

#games-pg .arrow-right{
    right: 20px;
    margin-top: -9.5rem;
    border: 1px solid white;
    color: white;
}

#games-pg .arrow-left{
    left: 20px;
    margin-top: -9.5rem;
    border: 1px solid white;
    color: white;
}

#games-pg .slick-slider {
    margin-top: 8.5rem;
    -webkit-tap-highlight-color: none;
}

#games-pg .dot{
    margin-top: 2rem;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    box-shadow: 0 0 5px  #ccc;
}

#games-pg .dot-active{
    background: white;
    box-shadow: 0 0 15px;
  }

#games-pg .back-btn {
    display: flex;
}

#games-pg .back-btn img {
    margin-top: 1rem;
    margin-left: 2rem;
    cursor: pointer;
}

#games-pg .back-btn img:hover {
    transform: scale(1.3);
}

#games-pg .back-btn h4 {
    color: #FFBF00;
    margin-top: 1.8rem;
    font-size: 18px;
    margin-left: 0.5rem;
    cursor: pointer;
    -webkit-text-stroke: 0.5px black;
    letter-spacing: 0.5px;
}

#games-pg .back-btn h4:hover {
    color: #e50afe;
    -webkit-text-stroke: 0;
}

@media screen and (min-width:320px) {
    .main-games{
        overflow-x: hidden;
      }
    #games-pg .title-game {
        padding-top: 2rem;
        padding-left: 2rem;
    }
    #games-pg .title-game p {
        width: 250px;
        font-size: 10px;
    }
    #games-pg .title-game h1 {
        font-size: 40px;
    }
    #games-pg .slick-slider {
        margin-top: 7rem;
    }
}

@media screen and (min-width:425px) {
    #games-pg .title-game p {
        font-size: 12px;
        width: 450px;
    }
} 

@media screen and (min-width:768px) {
    #games-pg .title-game p {
        width: 350px;
        font-size: 14px;
    }
    #games-pg .title-game h1 {
        font-size: 54px;
    }
    #games-pg .title-game p {
        width: 450px;
        font-size: 14px;
    }
}

@media screen and (min-width:1020px) {
    #games-pg .title-game {
        padding-top: 5rem;
        padding-left: 9rem;
    }
    
    #games-pg .title-game p {
        width: 450px;
        font-size: 14px;
    }
    
    #games-pg .title-game h1 {
        font-size: 54px;
    }
    #games-pg .slick-slider {
        margin-top: 8.5rem;
    }
}