html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}


/* loading Popup Login */
#loadingPopUp{
  position: absolute;
  background-color: #0000005a;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-width: 1px;
  top: 0%;
  height: 100vh;
  width: 100vw;
}

#loadingPopUpBox{
  background-color: #0000008d;
  color: white;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 30px;
  height: 200px;
  width: 200px;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* navbar Avatar image */
.avatar {
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 4px;
}

/* untuk Game page */

#gamePBody {
  background-color: #9c835f;
}

#mainGP {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: none;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.gameTitle {
  display: flex;
  flex-direction: row;
  position: absolute;
  margin-left: 37px;
  margin-top: 10px;
  top: 1.5%;
}

.GPBackLink {
  margin-top: -35px;
  text-decoration: none;
  color: #724c21;
  font-size: 60px;
  font-weight: bold;
}

#GPlogo {
  height: 45px;
  width: 45px;
  margin-left: 20px;
}

#gamePjudul {
  color: #f9b23d;
  align-self: auto;
  margin-left: 20px;
}

.MainContent {
  display: flex;
  align-items: row;
  padding-top: 3vh;
}

.Player1 {
  display: flex;
  flex-direction: column;
}

.P1Title {
  align-self: center;
}

.optionBtnP1 {
  height: 183px;
  width: 200px;
  border-radius: 30px;
  border: none;
  background-color: transparent;
}

.optionBtnP1:hover {
  background-color: #61658f73;
}

.optionP1 {
  width: 100px;
}

.optionBtnCom {
  height: 183px;
  width: 200px;
  border-radius: 30px;
  border: none;
  background-color: transparent;
}

.midcontainer {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
  justify-content: center;
}

#VStext {
  align-self: center;
  color: #bd0000;
  font-size: 9vw;
}

#P1Win {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 38px;
  color: white;
  font-weight: 700;
  width: 251px;
  height: 146px;
  background: #4c9654;
  border-radius: 10px;
  transform: rotate(-28.87deg);
  display: none;
}

#ComWin {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 38px;
  color: white;
  font-weight: 700;
  width: 251px;
  height: 146px;
  background: #4c8296;
  border-radius: 10px;
  transform: rotate(-28.87deg);
  display: none;
}

#Draw {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 38px;
  color: white;
  font-weight: 700;
  width: 251px;
  height: 146px;
  background: #035b0c;
  border-radius: 10px;
  transform: rotate(-28.87deg);
  display: none;
}

.refreshBtn {
  width: 40px;
  height: 40px;
}

.BtnRf {
  height: 40px;
  width: 40px;
  border-radius: 30px;
  border: none;
  background-color: transparent;
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translateX(-50%);

  color: #ffffff;
}

.RfImg {
  width: 50px;
}

#playerName {
  align-self: center;
}

/* game room */
.mainingameroom {
  height: 120vh;
  /* background-size: cover; */
  background-color: #28b4e5;
  background-position: center;
  display: flex;
  /* position: relative; */
  justify-content: center;
  align-items: center;
}

.startScreen {
  width: 600px;
  margin: 0 auto;
}

.startScreen h1 {
  text-align: center;
  font-size: 3rem;
  color: #111;
  padding-top: 30px;
  margin-bottom: 40px;
}

.startScreen button {
  display: inline-block;
  padding: 12px 20px;
  border: 0;
  width: 300px;
  text-decoration: none;
  border-radius: 8px;
  background-color: rgba(255,255,255,0.1);
  border: 1px solid rgba(255,255,255,0.1);
  backdrop-filter: blur(30px);
  color: rgba(255,255,255,0.8);
  font-size: 14px;
  letter-spacing: 2px;
  cursor: pointer;
  text-transform: uppercase;
}
.startScreen button:hover {
  background-color: rgba(255,255,255,0.2);
}


.gameplayChoices button {
  padding: 5px 25px;
  display: block;
  margin: 0 auto;
  margin-bottom: 25px;


  padding: 12px 20px;
  border: 0;
  text-decoration: none;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.568);
  border: 1px solid rgba(255,255,255,0.1);
  backdrop-filter: blur(30px);
  color: rgb(0, 0, 0);
  font-size: 14px;
  letter-spacing: 2px;
  cursor: pointer;
  text-transform: uppercase;
}

.startScreen button:hover {
  background-color: rgb(255, 255, 255);
}

.createRoomBox {
  display: none;
}

.join-with-id,
.createRoomBox {
  width: 70%;
  margin: 0 auto;
}

.join-with-id input,
.createRoomBox input {
  width: 80%;
  height: 35px;
  border: 1px solid #333;
  outline: none;
  padding: 5px;
  margin: 0;
}

.join-with-id button,
.createRoomBox button {
  width: 20%;
  margin: 0;
  font-size:x-small;
  height: 35px;
  background: #073158;
  color: white;
  outline: none;
  border: none;
}

.join-with-id .cancel-action,
.createRoomBox .cancel-action {
  width: 80%;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  background: #ccc;
  color: #333;
}

.createRoomBox button:hover {
  background-color: #111;
}
.cancel-action:hover {
  background: #ddd !important;
}

.waitMessage {
  padding-top: 30px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.waitMessage p {
  font-weight: 400;
  text-align: center;
}

.player {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background: #123456;
  color: white;
  padding: 10px;
  font-weight: normal;
}

.player .dot {
  width: 10px;
  height: 10px;
  background: red;
  border-radius: 50%;
  margin-right: 5px;
}


.player:first-child {
  margin-right: 30px;
}

.choice {
  font-size: 5rem;
  margin-right: 40px;
}

.choice:last-child {
  margin-right: 0;
}

.choice:hover {
  cursor: pointer;
  transform: scale(1.3);
}
.joinBoxRoom {
  display: none;
}

.joinBoxRoom  button:hover{
  background-color: #111;
}
.btnCreateJoin{
  border-radius: 0;
}

.joinBoxRoom .joinRandomBtn {
  width: 80%;
  display: block;
  margin: 0 auto;
  height: 35px;
  background: #073158;
  color: white;
  outline: none;
  border: none;
  margin-top: 30px;
}

.errorMessage {
  width: 500px;
  margin: 0 auto;
  margin-top: 40px;
  display: none;
  background: rgb(209, 61, 61);
  color: white;
  padding: 20px;
}

.errorMessage p {
  text-align: center;
  font-size: 1.1rem;
}
