@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

.backgroundLogin{
    min-height: 100vh;
    background-image: url('../public/main-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    
}
.input{
    top: 50%;
    left: 85%;
    position: absolute;
    transform: translate(-50%, -50%);
}
.inputContainer{
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    background: #ffb548;
    padding: 3vw;
    border-radius: 10px;
    
    
}
.inputContainer h1{
    color: black;
    font-family: Verdana, sans-serif;
}
.inputBox{
    position: relative;
    width: 250px;
    
}
.inputBox input{
    width: 100%;
    padding: 10px;
    border: 1.5px solid black;
    background: white;
    border-radius: 5px;
    outline: none;
    color: black;
    font-size: 1em;
   
}
.inputBox span{
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    text-transform: uppercase;
    color: black;
    transition: 0.5s;
    font-weight: 600;
}
.inputBox input:valid ~ span
,.inputBox input:focus ~ span{
color: black;
transform: translateX(10px) translateY(-7px);
font-size: 0.65em;
padding: 0 10px;
background-color: whitesmoke;
border-left: 1px solid black;
border-right: 1px solid black;

}
.inputBox:nth-child(2) input:valid ~ span
,.inputBox:nth-child(2) input:focus ~ span{
color: white;
transform: translateX(10px) translateY(-7px);
font-size: 0.65em;
padding: 0 10px;
background-color: black;
border: none;
border-radius: 4px;
}
.buttonLogin{
    border: solid black 2px;
    width: 100%;
    background-color: #ffb548;
    color: #1b1d1e;
    border-radius: 8px;
    padding: 0.25em;
    font-weight: bold;
    font-size: 1.25rem;
}
.buttonLogin:hover{
    background-color: #ffb548;
    color: #c8530a;
}
.loginNav{
    text-decoration: none;
    color: black;
}
.loginNav:hover{
    text-decoration: underline;
    color: black;
}
