#login {
    font-family: 'Open Sans', sans-serif;
    background-image: url('../public/login-bg.jpg');
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
}
.center-div {
    padding-top: 10%;
}

#login .btn.btn-success {
    padding: .4em 2em;
    margin-top: 2rem;
    font-size: 14px;
}

#login form {
    padding: 0 3em;
    margin-top: -1rem;
}

#login .container {
    border-radius: 10px;
    margin-left: 8rem;
    box-shadow: 5px 5px 25px;
    width: 320px;
}

#login h1 {
    color: black;
    font-family: 'Silkscreen';
}

#login .title > span {
    font-size: .8em;
    color: black;
}

#login a {
    font-size: 10px;
    color: yellow;
}

#login .form-group {
    margin-bottom: 1rem;
}

#login .form-control {
    font-size: 12px;
}
#login p {
    font-size: 11px;
    color: black;
    margin-top: 1rem;
    margin-bottom: 0rem;
}
.orLoginWith{
    color: white;
    margin-top: 10px;
    font-size: 10px;
}
.social-login-group{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#googleLoginBtn{
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    color: black;
    border: none;
    width: 85px;
    height: 25px;
    border-radius: 5px;
    align-items: center;
    font-size: 10px;
}
#facebookLoginBtn{
    background-color: #3e51b4;
    display: flex;
    justify-content: space-evenly;
    color: white;
    margin-left: 5px;
    width: 85px;
    height: 25px;
    border: none;
    align-items: center;
    border-radius: 5px;
    font-size: 10px;
}

@media screen and (min-width:320px) {
    #login .container {
        margin-left: 1rem;
        width: 290px;
        margin-top: 2rem;
    }
}

@media screen and (min-width:375px) {
    #login .container {
        margin-left: 3rem;
    }
}

@media screen and (min-width:425px) {
    #login .container {
        margin-left: 4.5rem;
    }
}

@media screen and (min-width:768px) {
    #login .container {
        margin-left: 4rem;
        width: 290px;
        margin-top: 0rem;
    }
}

@media screen and (min-width:1024px) {
    #login .container {
        margin-left: 4rem;
        width: 320px;
    }
}

@media screen and (min-width:1200px) {
    #login .container {
        margin-left: 9rem;
        margin-top: -1rem;
    }
}

@media screen and (min-width:1440px) {
    #login .container {
        margin-left: 12rem;
    }
}