.landing-page {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* SECTION 1 */
#section1 {
    background-image: url('../public/Desktop-1.png');
    background-position: center;
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    max-width: 100%;
    color: white;
}
#section1 .main-text {
    padding-top: 8rem;
    padding-left: 2rem;
}
.main-text h1 {
    font-family: 'Silkscreen';
    font-weight: 800;
}
.main-text span {
    color: #e50afe;
}
#section1 .best-game {
    flex-flow: row;
    flex-wrap: nowrap;
}
.main-text p {
    font-family: Helvetica;
    font-weight: 100;
    letter-spacing: 0.05px;
    width: 420px;
    margin-bottom: 2rem;
}
.play-btn {
    color: white;
    background-image: linear-gradient(to right, #6105fe, #e50afe);
    border: 0;
    border-radius: 17px;
    width: 7.5rem;
    height: 2.2rem;
    font-size: 14px;
    margin-right: 1rem;
    cursor: pointer;
}
.play-btn:hover {
    color: #6105fe;
    background-image: linear-gradient(to right,white, white);
    transform: scale(1.2);
}
.explore-btn {
    color: white;
    background-color: #010530;
    border: 0.5;
    border-color: #6105fe;
    border-radius: 17px;
    width: 7.5rem;
    height: 2.2rem;
    font-size: 14px;
    padding: 0rem 0rem;
}
.explore-btn:hover {
    color:white;
    background-color: #e50afe ;
    border: 0;
    transform: scale(1.2);
}

@media screen and (min-width: 320px) {
    .main-text h1 {
        font-size: 32px;
    }
    .main-text p {
        font-size: 12px;
        width: 200px;
        margin-top: 1rem;
    }
    .play-btn {
        font-size: 12px;
        margin-bottom: 1rem;
        margin-right: 2rem;
    }
    .explore-btn {
        font-size: 12px;
    }
}
@media screen and (min-width: 375px) {
    .main-text h1 {
        font-size: 36px;
    }
    .main-text p {
        font-size: 12px;
        width: 250px;
        margin-top: 1rem;
    }

}
@media screen and (min-width: 425px) {
    #section1 .main-text {
        padding-top: 10rem;
    }
    .main-text h1 {
        font-size: 40px;
    }
    .main-text p {
        font-size: 12px;
        width: 300px;
        margin-top: 1rem;
    }
    .play-btn {
        font-size: 14px;
        margin-right: 1rem;
    }
    .explore-btn {
        font-size: 14px;
    }
}
@media screen and (min-width: 768px) {
    #section1 .main-text {
        padding-left: 3rem;
    }
    .main-text p {
        font-size: 14px;
        width: 300px;
    }
}
@media screen and (min-width: 1024px) {
    #section1 .main-text {
        padding-left: 6rem;
        padding-top: 14rem;
    }
    .main-text h1 {
        font-size: 48px;
    }
}
@media screen and (min-width: 1200px) {
    #section1 .main-text {
        padding-left: 6.5rem;
        padding-top: 11rem;
    }
    .main-text h1 {
        font-size: 52px;
    }
    .main-text p {
        font-size: 16px;
        width: 430px;
        margin-top: 1.5rem;
    }
    .play-btn {
        font-size: 14px;
        margin-right: 2rem;
    }
}
@media screen and (min-width: 1440px) {
    #section1 .main-text {
        padding-left: 8rem;
        padding-top: 15rem;
    }
    .main-text h1 {
        font-size: 64px;
    }
    .main-text p {
        font-size: 18px;
        width: 480px;
    }
    .purple-text {
        margin-left: 6rem;
    }
}

/* SECTION 2 */
#section2 {
    background-color: #090029;
    background-size: cover;
    height: 85vh;
    background-repeat: no-repeat;
    max-width: 100%;
    color: white;
}
#section2 h1 {
    font-family: 'Silkscreen';
}
#section2 span {
    color: #e50afe;
}
#section2 .text-center {
    padding-top: 5rem;
}
#section2 .text-center p {
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
    flex-wrap: wrap;
    margin-top: 1.5rem;
}
.card-one {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    margin: 0rem;
}

@media screen and (min-width: 320px) {
    #section2 {
        height: 100vh;
    }
    #section2 .text-center {
        padding-top: 1rem;
    }
    #section2 h1 {
        font-size: 18px;
    }
    #section2 .text-center p {
        font-size: 10px;
        margin-top: 0rem;
    }
    .card-one {
        flex-wrap: wrap;
        margin-left: 1rem;
    }
}

@media screen and (min-width: 768px) {
    #section2 {
        height: 85vh;
    }
    #section2 h1 {
        font-size: 28px;
    }
}

@media screen and (min-width: 1020px) {
    #section2 h1 {
        font-size: 36px;
    }
    #section2 .text-center {
        padding-top: 5rem;
    }
    #section2 .text-center p {
        font-size: 14px;
        margin-top: 1.5rem;
    }
}

@media screen and (min-width: 1440px) {
    #section2 .text-center {
        padding-top: 6rem;
    }
    #section2 h1 {
        font-size: 48px;
    }
    #section2 .text-center p {
        font-size: 18px;
        margin-top: 1.5rem;
    }
}

/* SECTION 3 */
#section3 {
    background-image: url('../public/Desktop-2.png');
    background-position: center;
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    max-width: 100%;
    color: white;
}
#section3 h1 {
    font-family: 'Silkscreen';
}
#section3 span {
    color: #e50afe;
}
#section3 .text-center {
    padding-top: 5rem;
}
#section3 .text-center p {
    font-size: 14px;
    font-family: helvetica;
    letter-spacing: 0.1rem;
    color: gray;
    flex-wrap: wrap;
    margin-top: 1.5rem;
    font-weight: 200;
}
#section3 .video-frame video {
    width: 600px;
    height: 45vh;
    object-fit: cover;
    object-position: bottom;
    border-radius: 18px;
}
#section3 .video-frame {
    margin-top: 2rem;
}

@media screen and (min-width: 320px) {
    #section3 h1 {
        font-size: 20px;
    }
    #section3 .text-center {
        padding-top: 5rem;
    }
    #section3 .text-center p {
        font-size: 10px;
    }
    #section3 .video-frame video {
        width: 300px;
        height: 30vh;
    }
}

@media screen and (min-width: 768px) {
    #section3 h1 {
        font-size: 28px;
    }
    #section3 .text-center p {
        font-size: 12px;
    }
    #section3 .video-frame video {
        width: 400px;
        height: 40vh;
    }
}

@media screen and (min-width: 1024px) {
    #section3 h1 {
        font-size: 34px;
    }
    #section3 .text-center p {
        font-size: 14px;
    }
    #section3 .video-frame video {
        width: 600px;
        height: 45vh;
    }
}

@media screen and (min-width: 1200px) {
    #section3 h1 {
        font-size: 36px;
    }
}

@media screen and (min-width: 1440px) {
    #section3 .video-frame video {
        width: 700px;
        height: 45vh;
        margin-top: 3rem;
    }
    #section3 .text-center {
        padding-top: 5rem;
    }
    #section3 h1 {
        font-size: 44px;
    }
    #section3 .text-center p {
        font-size: 16px;
        margin-top: 3rem;
    }
}

/* SECTION 4 */
#section4 {
    background-color: #090029;
    background-size: cover;
    height: 80vh;
    background-repeat: no-repeat;
    max-width: 100%;
    color: white;
}
#section4 h1 {
    font-family: 'Silkscreen';
}
#section4 span {
    color: #e50afe;
}
#section4 .col-md-6 p {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.1rem;
    font-size: 14px;
    width: 450px;
    color: white;
    font-weight: 200;
}
#section4 .card2 {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (min-width: 320px) {
    #section4 {
        height: 100vh;
    }
    #section4 .col-md-6 {
        text-align: center;
        margin-top: 2rem;
    }
    #section4 .col-md-6 p{
        width: 300px;
        font-size: 11px;
    }
    #section4 .card2 {
        margin-left: 5.5rem;
    }
}

@media screen and (min-width: 375px) {
    #section4 .col-md-6 {
        margin-top: 5rem;
    }
    #section4 .col-md-6 p{
        width: 350px;
        font-size: 11px;
        margin-top: 1rem;
    }
    #section4 .card2 {
        margin-left: 2rem;
    }
}

@media screen and (min-width: 425px) {
    #section4 h1 {
        font-size: 30px;
    }
    #section4 .col-md-6 p{
        width: 350px;
        font-size: 12px;
        margin-left: 2rem;
    }
    #section4 .card2 {
        margin-left: 3.5rem;
    }
}

@media screen and (min-width: 728px) {
    #section4 .card2 {
        margin-left: 4rem;
    }
    #section4 h1 {
        font-size: 38px;
        text-align: start;
    }
    #section4 .col-md-6 p{
        text-align: start;
        margin-left: 0rem;
        width: 380px;
    }
    #section4 .col-md-6 {
        padding: 5rem 3rem;
    }
}

@media screen and (min-width: 1024px) {
    #section4 h1 {
        font-size: 46px;
    }
    #section4 .col-md-6 p {
        font-size: 14px;
        width: 450px;
        margin-top: 2rem;
    }
    #section4 .col-md-6 {
        padding: 5rem 5rem;
        width: 500px;
    }
    #section4 .card2 {
        margin-left: 6rem;
        margin-top: 7rem;
    }
}

@media screen and (min-width: 1200px) {
    #section4 {
        height: 80vh;
        background-repeat: no-repeat;
    }
    #section4 h1 {
        font-size: 46px;
    }
    #section4 .col-md-6 p {
        font-size: 14px;
        width: 500px;
        margin-top: 2rem;
    }
    #section4 .card2 {
        margin-left: 3rem;
        margin-top: 6rem;
    }
    #section4 .col-md-6 {
        padding: 5rem 2rem;
        width: 670px;
    }
}

@media screen and (min-width: 1440px) {
    #section4 .col-md-6 {
        padding: 6rem 10rem;
        width: 670px;
    }
    #section4 .card2 {
        margin-left: 10rem;
        margin-top: 6rem;
    }
}

/* SECTION 5 */
#section5 {
    background-image: url('../public/Desktop-2.png');
    background-position: center;
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    max-width: 100%;
    color: white;
}
#section5 .text-center {
    margin-top: 5rem;
}
#section5 .text-center h1 {
    font-family: 'Silkscreen';
    font-size: 42px;
}
#section5 .text-center span {
    color: #e50afe;
}
#section5 .text-center p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-top: 1rem;
    font-weight: 100;
    color: yellow;
    letter-spacing: 1px;
    opacity: 80%;
}
#section5 .box-carousel1 {
    margin-top: 1rem;
}

@media screen and (min-width: 320px) {
    #section5 .text-center {
        margin-top: 4rem;
    }
}

@media screen and (min-width:768px) {
    #section5 .text-center {
        margin-top: 5rem;
    }
}

@media screen and (min-width:1024px) {
    #section5 .text-center {
        margin-top: 5rem;
    }
}

/* SECTION 6 */
#section6 {
    background-color: #090029;
    background-size: cover;
    min-height: 100vh;
    background-repeat: no-repeat;
    max-width: 100%;
    color: white;
}
#section6 .text-center {
    margin-top: 4rem;
}
#section6  h1 {
    font-family: 'Silkscreen';
}
#section6 span {
    color: #e50afe;
}
#section6 .text-center p {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1rem;
    color: grey;
}
#section6 .card-three {
    display: inline-grid;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0rem;
}

@media screen and (min-width:320px) {
    #section6 .text-center {
        margin-top: 1rem;
    }
    #section6  h1 {
        font-size: 20px;
    }
    #section6 .text-center p {
        font-size: 10px;
    }
}

@media screen and (min-width:425px) {
    #section6 .text-center {
        margin-top: 5rem;
    }
    #section6  h1 {
        font-size: 28px;
    }
    #section6 .text-center p {
        font-size: 12px;
    }
}

@media screen and (min-width:1024px) {
    #section6  h1 {
        font-size: 38px;
    }
    #section6 .text-center p {
        font-size: 14px;
    }
}

@media screen and (min-width:1440px) {
    #section6 .text-center {
        margin-top: 11rem;
    }
    #section6  h1 {
        font-size: 46px;
    }
    #section6 .text-center p {
        font-size: 16px;
    }
}

/* SECTION 7 */

.flexContainer {
    display: flex;
    width: 430px;
    position: relative;
    margin-top: 1rem;
}

.flexContainer .form-control {
    flex: 1;
    width: 100%;
    background-color: transparent;
    height: 55px;
    border-radius: 35px;
    box-shadow: 3px;
    font-size: 12px;
    color: white;
    font-weight: 300;
    padding: 0.375rem 2.5rem;
    opacity: 100%;
    justify-content: center;
    border: 0.1px solid #6105fe;
}

.flexContainer .btn {
    position: absolute;
    right: 0.5rem;
    border-radius: 35px;
    z-index: 2;
    top: 3px;
    width: 48px;
    border: none;
    height: 48px;
    cursor: pointer;
    opacity: 90%;
    background-color: #e50afe;
    font-size: 12px;
    transform: translateX(2px);
    padding: 1rem 1rem;
}
.flexContainer img {
    position: absolute;
    right: -0.3rem;
    z-index: 2;
    top: -4px;
    width: 60px;
    height: 60px;
    padding: 1rem 1rem;
}

#section7 {
    background-color: #040532;
    background-size: cover;
    height: 60vh;
    background-repeat: no-repeat;
    max-width: 100%;
    color: white;
}
#section7 .button-scb {
    display: flex;
    justify-content: center;
}
#section7 h1 {
    font-size: 30px;
    font-family: 'Silkscreen';
}
#section7 span {
    color: #e50afe;
}
#section7 .text-center p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
}
#section7 .text-center {
    border: 0.1px solid white;
    padding: 2.5rem 4rem;
    margin-top: 5rem;
    width: 850px;
    margin-left: 13rem;
    background-color: #14074b;
    border-radius: 20px;
}

@media screen and (min-width:320px) {
    #section7 .text-center {
        padding: 2.5rem 4rem;
        margin-top: 3rem;
        width: 300px;
        margin-left: 0.7rem;
    }
    #section7 {
        height: 80vh;
    }
    .flexContainer .form-control {
        padding: 0.375rem 1rem;
    }
}

@media screen and (min-width:375px) {
    #section7 .text-center {
        margin-left: 2rem;
    }
}

@media screen and (min-width:425px) {
    #section7 .text-center {
        margin-left: 4rem;
    }
}

@media screen and (min-width:768px) {
    #section7 {
        height: 60vh;
    }
    #section7 .text-center {
        margin-top: 5rem;
        width: 700px;
        margin-left: 2.5rem;
    }
}

@media screen and (min-width:1024px) {
    #section7 .text-center {
        margin-top: 5rem;
        width: 850px;
        margin-left: 5rem;
    }
    .flexContainer .form-control {
        height: 55px;
        font-size: 12px;
        padding: 0.375rem 2.5rem;
    }
}
@media screen and (min-width:1200px) {
    #section7 .text-center {
        margin-left: 13rem;
    }
}

@media screen and (min-width:1440px) {
    #section7 .text-center {
        margin-left: 22rem;
        margin-top: 10rem;
    }
}


