.bodyGame{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .board {
    display: grid;
    grid-template-columns: repeat(4, 75px);
    grid-gap: 8px;
  }
  
  .kartu {
    border-radius: 4px;
    text-align: center;
    height: 75px;
    font-size: 36px;
    font-weight: bold;
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.2s;
    user-select: none;
  }
  .kartu.gameover {
    pointer-events: none;
  }
  .kartu-0 {
    transform: rotateY(0deg);
  }
  .kartu.active {
    transform: rotateY(180deg);
  }
  .kartu.matched .kartu-front {
    background-color: lightgoldenrodyellow;
    color: white;
  }
  .kartu-front,
  .kartu-back {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    backface-visibility: hidden;
    height: 100%;
    border-radius: 50%;
  }
  .kartu-front {
    transform: rotateY(180deg);
    background-color: #eee;
    line-height: 70px;
    vertical-align: middle;
    text-align: center;
    font-size: 50px;
  
    z-index: 2;
  }
  .kartu-back {
    background-color: #ddd;
  
    transform: rotateY(0);
    z-index: 1;
  }
  .kartu-back::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 75%;
    height: 75%;
    border-radius: 50%;
  }
  .menu {
    display: flex;
    justify-content: space-between;
  }
  
  .menu p {
    font-size: 20px;
    font-weight: 600;
  }