
.sidebar-menu-header .row {
    display: flex;
    flex-wrap: nowrap;
}

.logo-profile img {
    width: 70px;
    margin: 0;
    cursor: pointer;
}
.logo-profile img:hover {
    transform: scale(1.5);
}
.logo-profile h2 {
    font-family: 'Silkscreen';
    font-size: 28px;
    margin-left: -1rem;
    margin-top: 0.25rem;
    color: white;
    cursor: pointer;
}
.logo-profile span {
    color: #e50afe;
}
#sidebar hr {
    clear: both;
    visibility: hidden;
}
.sidebar-menu-nav-link {
    display: flex;
    flex-wrap: nowrap;
    text-decoration: none;
    margin-bottom: 1rem;
    margin-left: 1rem;
}
.sidebar-menu-nav-link:hover {
    transform: scale(1.2);
}
.sidebar-menu-nav-link img {
    width: 30px;
    height: 30px;
    background-color: white;
    padding: 2px 2px;
    border-radius: 35px;
}
.sidebar-menu-nav-link h4 {
    font-size: 14px;
    margin-top: 0.4rem;
    font-size: arial;
    font-weight: 200;
    color: white;
}
.sidebar-menu hr {
    clear: both;
    visibility: hidden;
}
.log-out {
    margin-top: 12rem;
}
.log-out img {
    width: 30px;
    height: 30px;
    padding: 5px 5px;
}
.sidebar-menu {
    padding: 3.5rem 3rem;
}