@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');


#signup {
    min-height: 100vh;
    width: 100%;
    background-image: url('../public/signup-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    background-position: center;
    overflow-x: hidden;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    min-height: 100vh; 
    padding: 1rem 0.5rem;
}

#signup section {
    display: flex;
    flex-direction: column;
}

#signup .signup-box {
    padding: 0.7rem 1rem;
    border-radius: 20px;
    width: 28rem;
    min-height: 28rem;
    margin-top: 3rem;
    margin-left: 22rem;
    border: 0.5px solid white;
    box-shadow: 5px 5px 25px;
    background-color: rgba(191, 64, 191, 0.6);;
}

#signup form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding: 0.5rem 2rem;
}

#signup input[type="text"],
#signup input[type="password"],
#signup input [type="text-area"],
#signup input[type="radio"]
#signup textarea{
    font-size: 14px;
    padding: 0.25rem;
    border-radius: 0.5rem;
    height: 26px;
    color: rgb(0, 0, 0);
    background-color: #fff;
    height: 26px;
    width: 22rem;
    border: 0;
    margin-top: 0.1rem;
}

#signup label {
    margin-top: 0.5rem;
    font-size: 12px;
    border-radius: 18px;
}

#signup .submit-regis button {
    width: 10rem;
    border-radius: 25px;
    padding: 0.5rem;
    background-color: yellow;
    color: black;
    font-weight: bold;
    margin-top: 1rem;
    margin-left: 6rem;
    border: 0;
}
#signup .submit-regis button:hover {
    background-color: green;
    transform: scale(1.2);
    color: white;
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: rgb(212, 11, 11);
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
}

#signup p {
    margin-top: 0;
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    font-size: 12px;
}

#signup a {
    color: yellow;
    text-decoration: underline;
}

#signup h1 {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-family: 'Silkscreen';
    color: yellow
}

.first-last {
    display: flex;
}

.first-name {
    display: flex;
    flex-wrap: wrap;
    margin-right: 1.8rem;
}

.last-name {
    display: flex;
    flex-wrap: wrap;
}

#signup .first-last input[type="text"] {
    width: 10rem;
}

.pass-form {
    display: flex;
}

.first-pass{
    display: flex;
    flex-wrap: wrap;
    margin-right: 1.8rem;
}

.confirm-pass {
    display: flex;
    flex-wrap: wrap;
}

#signup .pass-form input[type="password"] {
    width: 10rem;
}

.error-msg {
    display: flex;
    justify-content: center;
    margin-top: -0.5rem;
    margin-bottom: -0.5rem;
}

#signup .error-msg p {
    font-size: 10px;
}

.email-phone {
    display: flex;
}

.email-form{
    display: flex;
    flex-wrap: wrap;
    margin-right: 1.8rem;
}

.phone-form {
    display: flex;
    flex-wrap: wrap;
}

#signup .email-phone input[type="text"] {
    width: 10rem;
}

#signup .d-flex {
    margin-top: 0.3rem;
}

#signup .male-gndr {
    margin-left: 3rem;
}

#signup .male-gndr label {
    margin-left: 0.3rem;
}

#signup .female-gndr {
    margin-left: 3rem;
}
#signup .female-gndr label {
    margin-left: 0.3rem;
}
#signup .error-msg span {
    visibility: hidden;
}

#uidnote {
    padding: 0.3rem 1rem;
}
#fnnote, #lnnote {
    padding: 0.5rem 3rem;
}
#pwdnote {
    padding: 0.3rem 0rem;
    padding-left: 1rem;
}

@media screen and (min-width: 320px) {
    #signup .signup-box {
        padding: 0.2rem 0rem;
        width: 18.5rem;
        margin-top: 3rem;
        margin-left: 0rem;
    }
    #signup label {
        font-size: 10px;
    }
    #signup input[type="text"],
    #signup input[type="password"],
    #signup input [type="text-area"],
    #signup input[type="radio"]
    #signup textarea{
        font-size: 10px;
        padding: 0.25rem;
        height: 20px;
        width: 14.5rem;
    }
    #signup .submit-regis button {
        width: 8rem;
        margin-left: 4rem;
        font-size: 14px;
    }
    #signup h1 {
        font-size: 26px;
        margin-top: 0.5rem;
    } 
    .first-name {
        margin-right: 1.5rem;
    } 
    #signup .first-last input[type="text"] {
        width: 6.5rem;
    }
    .first-pass{
        margin-right: 1.5rem;
    } 
    #signup .pass-form input[type="password"] {
        width: 6.5rem;
    }
    .error-msg {
        display: flex;
        justify-content: center;
        margin-top: -0.5rem;
        margin-bottom: -0.5rem;
    }
    #signup .error-msg p {
        font-size: 8px;
    }
    .email-form{
        margin-right: 1.5rem;
    }
    #signup .email-phone input[type="text"] {
        width: 6.5rem;
    }
    #pwdnote {
        padding: 0.3rem 0rem;
        padding-left: 1rem;
    }
}

@media screen and (min-width: 375px) {
    #signup .signup-box {
        margin-left: 1.6rem;
    }
}

@media screen and (min-width: 425px) {
    #signup .signup-box {
        margin-left: 3.5rem;
    }
}

@media screen and (min-width: 768px) {
    #signup .signup-box {
        padding: 0.7rem 1rem;
        width: 28rem;
        min-height: 28rem;
        margin-top: 2.5rem;
        margin-left: 8rem;
    }
    #signup input[type="text"],
    #signup input[type="password"],
    #signup input [type="text-area"],
    #signup input[type="radio"]
    #signup textarea{
        font-size: 14px;
        padding: 0.25rem;
        height: 26px;
        height: 26px;
        width: 22rem;
    }

    #signup label {
        margin-top: 0.5rem;
        font-size: 12px;
    }
    #signup h1 {
        display: flex;
        justify-content: center;
        font-size: 36px;
        font-family: 'Silkscreen';
        color: yellow
    }
    
    .first-last {
        display: flex;
    }
    
    .first-name {
        display: flex;
        flex-wrap: wrap;
        margin-right: 1.8rem;
    }
    
    .last-name {
        display: flex;
        flex-wrap: wrap;
    }
    
    #signup .first-last input[type="text"] {
        width: 10rem;
    }
    
    .pass-form {
        display: flex;
    }
    
    .first-pass{
        display: flex;
        flex-wrap: wrap;
        margin-right: 1.8rem;
    }
    
    .confirm-pass {
        display: flex;
        flex-wrap: wrap;
    }
    
    #signup .pass-form input[type="password"] {
        width: 10rem;
    }
    
    .error-msg {
        display: flex;
        justify-content: center;
        margin-top: -0.5rem;
        margin-bottom: -0.5rem;
    }
    
    #signup .error-msg p {
        font-size: 10px;
    }
    
    .email-phone {
        display: flex;
    }
    
    .email-form{
        display: flex;
        flex-wrap: wrap;
        margin-right: 1.8rem;
    }
    
    .phone-form {
        display: flex;
        flex-wrap: wrap;
    }
    
    #signup .email-phone input[type="text"] {
        width: 10rem;
    }
    #signup .submit-regis button {
        width: 10rem;
        margin-top: 1rem;
        margin-left: 6rem;
        border: 0;
    }
    #pwdnote {
        padding: 0.3rem 0rem;
        padding-left: 1rem;
    }
}

@media screen and (min-width: 1024px) {
    #signup .signup-box {
        margin-left: 16rem;
    }
}

@media screen and (min-width: 1200px) {
    #signup .signup-box {
        margin-left: 22rem;
    }
}

@media screen and (min-width: 1300px) {
    #signup .signup-box {
        margin-left: 27rem;
        margin-top: 4rem;
    }
}

@media screen and (min-width: 1440px) {
    #signup .signup-box {
        margin-left: 28rem;
        margin-top: 5rem;

    }
}