/* OVERVIEW */
#user-profile {
    background-image: url(../public/Desktop-2.png);
    background-size: cover;
    min-height: 100vh;
    background-repeat: no-repeat;
    max-width: 100%;
    overflow-x: hidden;
}

#user-profile .row {
    display: flex;
    flex-wrap: nowrap;
}
#overview .col-md-6 {
    color: black;
    margin-left: 2rem;
    width: 630px;
}
#overview {
    background-image: linear-gradient(90deg, #E6E6FA 70%, #CBC3E3 30%);
    border-radius: 25px;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 4rem;
    box-shadow: 3px 3px 10px white ;
    padding: 2rem 1rem;
}
#overview .box-img img{
    width: 210px;
    height: 135px;
    border-radius: 15px;
    margin-right: 1rem;
}
#overview .box-img {
    display: flex;
    flex-wrap: nowrap;
}
#overview {
    display: flex;
    flex-wrap: nowrap;
}
#overview .col-md-6 h1 {
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
}
#overview .p-col-md-6 {
    font-size: 14px;
    font-weight: 200;
}
.featured-games {
    margin-top: 4rem;
    margin-left: 2rem;

}
.featured-games h4 {
    font-family: 'Silkscreen';
    font-size: 26px;
    color: #6105fe;
}
.featured-games p {
    opacity: 60%;
    font-size: 16px;
    letter-spacing: 0.1rem;
    margin-top: 1rem;
}
.featured-games ul li {
    margin-top: 0.5rem;
    list-style: disc;
    font-size: 16px;
    color:black ;
    font-weight: 100;
    color: #090029;
}
.featured-games ul li:hover {
    color: #e50afe;
    font-weight: 800;
    cursor: pointer;
}
#overview .col-md-2 {
    display: flex;
    text-align: center;
}
#overview .sm-prf img {
    width: 120px;
    height: 120px;
    border-radius: 80px;
    padding: 1px 1px;
    background-color: aliceblue;
    margin-top: 0rem;
    margin-left: 2rem;
}
#overview .sm-prf h4 {
    margin-left: 2rem;
    margin-top: 1rem;
    font-size: 28px;
    color: #e50afe;
}
#overview .sm-prf p {
    margin-left: 2.2rem;
    margin-top: -0.3rem;
    font-size: 14px;
}
.prf hr {
    color: #e50afe;
    width: 250px;
    margin-left: 1rem;
    border: 1px solid;
}
#overview .details-prf {
    display: flex;
    text-align: start;
    flex-flow: column;
    margin-left: 1rem;
}
#overview .details-prf p{
    font-size: 12px;
    font-weight: 700;
    opacity: 50%;
}
#overview .details-prf span {
    font-size: 14px;
    margin-top: -1rem;
    margin-bottom: 0.5rem;
}

@media screen and (min-width:1024px) {
    .prf hr {
        width: 200px;
        margin-left: 1rem;
    }
    #overview .col-md-6 {
        width: 490px;
    }
}

@media screen and (min-width:1200px) {
    .prf hr {
        width: 250px;
    }
    #overview .col-md-6 {
        width: 620px;
    }
}

@media screen and (min-width:1300px) {
    .prf hr {
        width: 270px;
    }
    #overview .col-md-6 {
        width: 700px;
    }
}

@media screen and (min-width:1440px) {
    #overview .col-md-6 {
        width: 750px;
    }
}

/* HISTORY */
#history {
    background-image: linear-gradient(to right, #CBC3E3, #E6E6FA);
    border-radius: 25px;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 4rem;
    box-shadow: 3px 3px 10px white ;
    padding: 2rem 1rem;
}
#history {
    padding: 2rem 3rem;
}
#history h1 {
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
}
#history .p-col-md-6 {
    font-size: 14px;
    font-weight: 200;
    width: 500px;
}
#history table {
    margin-top: 1rem;
}
#history th {
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px solid purple;
    font-size: 18px;
}
#history td {
    border-bottom: 1px solid purple;
    font-size: 14px;
    color: #6105fe;
}

/* SUMMARY */
#summary {
    background-image: linear-gradient(to right, #CBC3E3, #E6E6FA);
    border-radius: 25px;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 4rem;
    box-shadow: 3px 3px 10px white ;
    padding: 2rem 1rem;
}
#summary{
    padding: 2rem 3rem;
}
#summary h1 {
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
}
#summary .p-col-md-6 {
    font-size: 14px;
    font-weight: 200;
    width: 500px;
}
#summary table {
    margin-top: 1rem;
    width: 500px;
    margin-left: 10rem;
}
#summary th {
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px solid purple;
    font-size: 18px;
}
#summary td {
    border-bottom: 1px solid purple;
    font-size: 14px;
    color: #6105fe;
}

@media screen and (min-width:1024px) {
    #summary table {
        margin-left: 5rem;
    }
}

@media screen and (min-width:1200px) {
    #summary table {
        margin-left: 10rem;
    }
}

@media screen and (min-width:1440px) {
    #summary table {
        margin-left: 15rem;
    } 
}

/* Edit Profile */
#formedit {
    display: flex;
    flex-direction: column;
    width: 400px;
    
}

input{
    background-color:#ffff ;
    color: black;
}

label{
    margin-bottom: 0 auto;

}

.update{
    margin-top: 20px;
}

#note{
    
    color: #ffff;
    background-color: #6105fe;
    
}